<div class="site-footer-extras">
  <div class="wrapper">
    <p class="copyright">
      &copy;Copyright 2016, Farmhouse Festival
    </p>
    <ul class="social-media-list">

      {% if site.twitter_username %}
        <li class="social-twitter">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            @{{ site.twitter_username }}
          </a>
        </li>
      {% endif %}

      {% if site.facebook_username %}
        <li class="social-facebook">
          <a href="https://facebook.com/{{ site.facebook_username }}">
            Facebook
          </a>
        </li>
      {% endif %}

      {% if site.instagram_username %}
        <li class="social-instagram">
          <a href="https://instagram.com/{{ site.instagram_username }}">
            Instagram
          </a>
        </li>
      {% endif %}

    </ul>
  </div>
</div>