---
# Link together our SASS partials
---
@charset "utf-8";

@import
  "../_sass/universals",
  "../_sass/2019/variables"
;

html, body {
  height: 100%;
}



/*

  Base Decoration

*/

body {
  color: $color-peach;
  background-color: $color-blue-dark;
  background-repeat: repeat;
  background-image: url(/images/2019/site/bg.png);
  @include screen-res-high {
    background-image: url(/images/2019/site/bg@2x.png);
    background-size: 15%;
  }

  text-align: center;

  font-family: $alt-font-family;
  font-size: $font-size-xsmall;
  font-style: $alt-font-style;
  font-weight: $alt-font-weight;

  @include screen-small {
    padding: 8px;
    font-size: $font-size-small;
  }
  @include screen-large {
    padding: 22px;
  }
}

.wrapper {
  display: flex;
  // justify-content: center;
  align-content: center;
  flex-direction: column;

  min-height: 100%;
  @include screen-small {
    border: solid 8px $color-blue-light;
    border-image-source: url(/images/2019/site/border.png);
    border-image-slice: 8;
    border-image-width: 8px;
    border-image-repeat: round;
  }

  @include screen-large {
    border: solid 15px $color-blue-light;
    border-image-source: url(/images/2019/site/border.png);
    border-image-slice: 15;
    border-image-width: 15px;
    border-image-repeat: round;
  }
}

a {
  color: $color-green;
  text-decoration: none;
  &:hover {
    color: $color-green-light;
    text-decoration: underline;
  }
}

p, li {
  line-height: 1.35;
  @include screen-xsmall {
    line-height: 1.5;
  }
}

h2 {
  margin: 1rem 0;
  color: $color-peach;
  font-size: $font-size-xlarge;
  font-family: $base-font-family;
  font-style: $base-font-style;
  font-weight: $base-font-weight;
  text-transform: uppercase;

  @include screen-large {
    font-size: $font-size-huge;
  }
}

h3 {
  margin: 1rem 0;
  color: $color-peach;
  font-family: $base-font-family;
  font-size: $font-size-large;
  font-style: $base-font-style;
  font-weight: $base-font-weight;
  text-transform: uppercase;
  @include screen-large {
    font-size: $font-size-xlarge;
  }
}

.amp {
  font-family: palatino, $alt-font-family;
  font-style: italic;
}

.photo {
  margin: 3rem 0;
  opacity: 0.9;
  overflow: hidden;
  img {
    display: block;
    line-height: 1;
    filter: grayscale(100%) contrast(30%) brightness(130%);
  }
}
.photo-1 {
  background-color: $color-peach;
  img {
    mix-blend-mode: luminosity;
    opacity: 0.8;
    @include screen-medium {
      margin: -25% 0 0 0;
    }
  }
}
.photo-2 {
  background-color: $color-blue-light;
  img {
    margin: 0;
    mix-blend-mode: luminosity;
    opacity: 0.8;
    @include screen-medium {
      margin: -12% 0 -7% 0;
    }
  }
}
.photo-3 {
  background-color: $color-peach;
  img {
    margin: 0;
    mix-blend-mode: luminosity;
    opacity: 0.8;
    @include screen-medium {
      margin: -10% 0 -5% 0;
    }
  }
}

.panel-2, .panel-3 {
  margin: 0 $spacing-unit * 1.5;
  justify-content: space-between;
  @include screen-small {
    display: flex;
  }
  @include screen-xlarge {
    margin: 0 auto;
    width: 960px;
  }
}

.panel-2 {
  div {
    flex: 0 1 45%;
    text-align: left;
  }
}

.panel-3 {
  h3 {
    font-size: $font-size-large;
    text-align: left;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  div {
    flex: 0 1 31%;
    text-align: left;
  }
}



/*

  Header

*/
.fhf-logo img {
  margin-top: $spacing-unit * 3;
  width: 282px;
  height: 178px;

  @include screen-medium {
    width: 563px;
    height: 356px;
  }
}
.fhf-nav {
  text-align: center;
  margin-bottom: 2rem;
  @include screen-large {
    margin: 0 -2px 4rem -2px;
    border: solid 15px $color-blue-light;
    border-image-source: url(/images/2019/site/border.png);
    border-image-slice: 15;
    border-image-width: 0 0 15px 0;
    border-image-repeat: round;
  }
}
.menu {
  margin: 0;
  padding: 0;
  @include screen-large {
    pointer-events: none;
    & > * {
      pointer-events: auto;
      transition: opacity 0.25s ease-out;
    }
    &:hover > * {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.menu-icon, .close-control {
  display: none;
}
.nav-item {
  display: inline-block;
  margin: 0;
  list-style: none;
  a {
    display: inline-block;
    padding: 0 2rem 1rem 2rem;
    color: $color-peach;
    font-family: $base-font-family;
    font-size: $font-size-large;
    text-transform: uppercase;
    text-shadow: 0 2px 1px rgba(#000, 0.25);
    &:hover {
      color: $color-peach;
    }
  }
  &.selected a {
    color: $color-green;
  }
}



//
// Mobile nav
//
@media (max-width: $large) {

  .menu-icon, .close-control {
    display: inline-block;
    margin-top: 0;
    margin-right: 4px;
    line-height: 0;
    transition: opacity 0.25s ease-out;
    @include screen-small {
      margin-top: 1.5rem;
      margin-right: 1rem;
    }
    @include screen-large {
      margin-top: 2rem;
      margin-right: 2rem;
    }
  }


  .fhf-nav {
    position: fixed;
    border-width: 0;

    top: 0;
    right: 0;
    text-align: right;
    z-index: 200;


    .menu {
      visibility: hidden;
    }


    // menu control transitions
    .menu-icon {
      opacity: 1;
    }
    .close-control {
      display: none;
      opacity: 0;
    }
    &.is-active {
      width: 100%;
      .menu-icon {
        display: none;
        opacity: 0;
      }
      .close-control {
        display: block;
        opacity: 1;
      }
    }
  }

  .menu-icon {
      padding: 1rem;
      text-align: right;
      background-color: rgba($color-blue-dark, 0.9);
      border-radius: 8px;

      > svg {
          width: 32px;
          height: auto;

          path {
            fill: $color-peach;
          }
      }
  }
  a.close-control, a.close-control:hover, a.close-control:focus {
      padding: 1rem;
      float: right;
      font-size: 2.5rem;
      line-height: 2rem;
      color: $color-black;
      text-align: center;
      text-decoration: none;
  }

  .menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      padding: 4rem 0 0 0;
      margin: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      background-color: $color-peach;
      transition:
        opacity 0.15s ease-out
      ;

      &.is-active {
        opacity: 1;
        min-height: 100%;
        max-height: 100%;
      }
  }

  .nav-item {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    background: $color-peach;
    a, &.selected a {
      display: block;
      padding: 1rem 0;
      color: $color-black;
      font-family: $base-font-family;
      font-size: $font-size-large;
      text-shadow: none;
      line-height: 2rem;
      &:hover {
        color: $color-black;
      }
    }
  }

}




/*

  Home Page

*/
.home-intro {
  text-align: center;
  margin: 0 $spacing-unit;
  @include screen-medium {
    margin: 0 auto;
    p {
      width: 480px;
      margin: 0 auto;
    }
  }
}
.vendor-list {
  text-align: center;
  margin: 2rem $spacing-unit;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  li {
    flex: 0 0 33%;
    padding: 0 0.5rem;
    margin: 0;
    list-style: none;
  }
  @include screen-small {
    li {
      flex: 0 0 20%;
    }
  }
  @include screen-xlarge {
    width: $large;
    margin: 3rem auto;
    li {
      flex: 0 0 14.2857%;
      padding: 0rem 1rem;
    }
  }
}





/*

  What's Pouring Page

*/
.beer-search {

  appearance: none;
  -webkit-appearance: none;

  padding: $spacing-unit / 4 $spacing-unit / 2;
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 4px;

  font-family: $base-font-family;
  font-size: $font-size-med;

  box-shadow: rgba(#0F2123, 1) 0 6px 6px;

  &:focus {
    outline: none;
    border: solid 1px rgba($color-blue-dark, 0.75);
    color: $color-blue-dark;
    box-shadow:
      0 0 5px 2px rgba($color-blue-light, 0.5),
      0 0 2px 2px $color-blue-light;
  }

  &::placeholder {
    color: #ccc;
  }

  &.is-hidden {
    display: none;
  }

  @media (max-width: $large) {
    z-index: 201;
    position: fixed;
    top: 2.25rem;
    left: 2.25rem;
    width: calc(100% - 8rem);
  }
  @media (max-width: $small) {
    top: 0.75rem;
    left: 0.75rem;
    width: calc(100% - 5.5rem);
  }
  @include screen-large {
    padding: $spacing-unit / 2;
    margin: -1rem 0 2rem 0;
    border-radius: 8px;
    min-width: 60%;
  }

}
.beer-intro {
  margin-bottom: -3rem;
  @include screen-medium {
    margin-bottom: 0;
  }
  @media (max-width: $large) {
    margin-top: $spacing-unit * 6;
  }
  @media (max-width: $small) {
    margin-top: $spacing-unit * 4;
  }
}

.palate-cleansers {
  display: block;
  margin: 2rem 0 0 0;
  font-size: $font-size-small;
  line-height: 1.2;
  text-align: center;
}

.toc {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  margin: 0 auto;
  li {
    flex: 0 0 50%;
    padding: 0 0 0.25rem 0;
    margin: 0;
    list-style: none;

    a {
      font-family: alt-font-family;
      font-size: $font-size-xsmall;
      line-height: 1.2;
      @include screen-xsmall {
        font-size: $font-size-small;
      }
    }
  }

  @include screen-xsmall {
    li {
      flex: 0 0 33%;
    }
  }
  @include screen-medium {
    li {
      flex: 0 0 25%;
    }
  }
  @include screen-xlarge {
    width: $large;
    li {
      flex: 0 0 20%;
    }
  }
  @include screen-xxlarge {
    width: $xlarge;
    li {
      flex: 0 0 16.66667%;
    }
  }

}

.beer-list {
  padding: 3rem 0 0 0;
  margin: 0;

  ul, li {
    padding: 0;
    margin: 0;
  }
  ul {
    padding-top: 0.5rem;
  }
  li {
    min-width: 100%;
    padding: 2rem 1rem 0 1rem;
    margin: 2rem 0 0 0;
    list-style: none;
    text-align: left;
    border: solid 4px $color-blue-light;
    border-width: 4px 0 0 0;
    border-image-source: url(/images/2019/site/border.png);
    border-image-slice: 4;
    border-image-width: 4px 0 0 0;
    border-image-repeat: round;
  }
  h3 {
    display: inline-block;
    margin: 0;
    font-size: $font-size-med;
    line-height: 1;
    color: $color-peach-light;
  }
  .geography {
    display: block;
    margin: 0 0 0.5rem 0;
    color: $color-peach-light;
  }
  .pouring-at {
    display: block;
    margin: -0.5rem 0 1rem 0;
    font-style: italic;
    color: $color-blue-light;
  }
  .pouring {
    li {
      min-width: auto;
      padding: 0 1rem 0 0;
      margin: 0 0 0.5rem 0;
      border-width: 0;
      text-align: left;
      &:nth-child(2n) {
        padding-right: 0;
      }
    }
    h4 {
      display: inline-block;
      margin: 0 0.5rem 0 0;
      color: $color-peach-light;
    }
    .desc {
      display: block;
      margin: 0;
      font-size: $font-size-xsmall;
      &.tbd {
        font-style: italic;
      }
    }
    .abv {
      display: inline-block;
      margin: 0;
      font-size: $font-size-xsmall;
      color: $color-blue-light;
    }
  }

  @include screen-xsmall {
    h3 {
      margin: 0 1rem 0 0;
      font-size: $font-size-large;
    }
    li {
      border-width: 8px 0 0 0;
      border-image-slice: 8;
      border-image-width: 8px 0 0 0;
      &.importer .pouring li {
        flex: none;
      }
    }
    .geography {
      display: inline-block;
    }
    .pouring {
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 1 1 50%;
      }
    }
  }
  @include screen-medium {
    li {
      padding-top: 2rem 2rem 0 2rem;
      margin: 2rem 0 0 0;
      border: solid 8px $color-blue-light;
      border-width: 8px 0 0 0;
      border-image-source: url(/images/2019/site/border.png);
      border-image-slice: 8;
      border-image-width: 8px 0 0 0;
      border-image-repeat: round;
    }
  }
  @include screen-large {
    padding-top: 0;
  }
  @include screen-xlarge {
    width: $large;
    margin: 0 auto;
    li {
      padding-top: 4rem;
      margin-top: 3.5rem;
    }
    .pouring {
      li {
        flex: 0 1 33%;
        padding: 0 2rem 0 0;
        margin: 0 0 1rem 0;
        &:nth-child(2n) {
          padding-right: 2rem;
        }
        &:nth-child(3n) {
          padding-right: 0;
        }
      }
    }
  }
  @include screen-xxlarge {
    width: $xlarge;
    margin: 0 auto;
  }
  @include screen-xxxlarge {
    width: $xxlarge;
    margin: 0 auto;
  }

}







/*


  Info Page

*/
.info-intro {
  @media (max-width: $large) {
    margin-top: $spacing-unit * 3;
  }
}
.info-map {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 0;
  margin: 1rem 0;
  background-color: $color-peach;
  line-height: 1;

  iframe {
    display: block;
    width: 100%;
    height: 300px;
    filter: grayscale(100%) contrast(30%) brightness(130%);
    mix-blend-mode: luminosity;
    @include screen-medium {
        height: 400px;
    }
  }
}

.info-transportation {
  margin-top: 2rem;
}

.info-qa {
  display: block;
  margin: 0 $spacing-unit * 1.5;
  @include screen-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  @include screen-large {
    width: 960px;
  }

  h2 {
    flex: 0 0 100%;
  }
  h3 {
    font-size: $font-size-med;
    margin: 2rem 0 0 0;
  }
  h3 + p {
    margin-top: 0;
  }
  .panel {
    flex: 0 0 45%;
    text-align: left;
  }
}



/*


  Contact Page

*/
.contact-intro {
  @media (max-width: $large) {
    margin-top: $spacing-unit * 3;
  }
}


// signup form
.signup-fields {
  text-align: center;
}
.signup-email, .signup-button {
  display: inline-block;
  width: 80%;
  padding: $spacing-unit;
  margin: $spacing-unit / 4 0;

  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 8px;

  font-family: $base-font-family;
  font-size: $font-size-med;

  box-shadow: rgba(#0F2123, 1) 0 6px 6px;

  &:focus {
    outline: none;
    border: solid 1px rgba($color-blue-dark, 0.75);
    box-shadow:
      0 0 5px 2px rgba($color-blue-light, 0.5),
      0 0 2px 2px $color-blue-light;
  }

  @include screen-xsmall {
    width: 65%;
  }
  @include screen-small {
    width: 50%;
  }
  @include screen-medium {
    width: auto;
    margin: 0 $spacing-unit / 4;
  }

}
.signup-email {
  color: #ccc;
  background-color: $color-white;

  &::placeholder {
    color: #ccc;
  }
  &:focus {
    color: $color-blue-dark;
  }

  @include screen-medium {
    width: $spacing-unit * 15;
  }
}
.signup-button {
  appearance: none;
  -webkit-appearance: none;

  background-color: $color-peach;
  text-transform: uppercase;

  &:hover {
    background-color: $color-peach-light;
    cursor: pointer;
  }
}



/*

  footer

*/
footer {
  padding: 1rem 0 0 0;
  margin: 3rem -2px 0 -2px;
  text-align: center;
  border: solid 15px $color-blue-light;
  border-width: 15px 0 0 0;
  border-image-source: url(/images/2019/site/border.png);
  border-image-slice: 15;
  border-image-repeat: round;
}
footer ul, footer li {
  padding: 0;
  margin: 0;
}
footer li {
  display: inline;
  list-style: none;
  margin: $spacing-unit / 2 $spacing-unit / 2;
}
footer a {
  font-size: $font-size-med;
  line-height: 1;
}


footer .form {
  padding: 0 0 3rem 0;
  margin: 0 -2px;
  border: solid 15px $color-blue-light;
  border-width: 0 0 15px 0;
  border-image-source: url(/images/2019/site/border.png);
  border-image-slice: 15;
  border-image-repeat: round;
}

.social-media-list, .past-years {
  display: block;
  margin: $spacing-unit;
  font-family: $base-font-family;

  @include screen-small {
    display: inline-block;
  }
}
.social-media-list a:hover {
  text-decoration: none;
}

.social-media-list svg {
  width: 24px;
  height: 24px;
  fill: $color-green;
  &:hover {
    fill: $color-green-light;
  }
}
