/*

    Basic reset

*/
* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
/* Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}




/*

 Basic HTML element styling

*/
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $color-white;
    background-color: $color-darkgrey;
    background-image: $texture;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul, ol {
    margin-left: $spacing-unit;
}
li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

section {
    margin-bottom: 2rem;
}






/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}


.styled {
    font-family: $alt-font-family;
    font-size: $alt-font-size * 1.6;    
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

    &.main {
        text-align: center;
        @include screen-large {
            margin-bottom: 1rem;
            font-size: $alt-font-size * 2.2;
            text-align: left;
        }        
    }
}

.secondary {
    color: $color-salmon;
    font-size: $alt-font-size;
}

.page-title {
    width: 100%;
}



/**
 * Block control
 */
.block {
    margin-bottom: 1rem;
}
.centered {
    text-align: center;
}


/**
 * Links
 */
a {
    color: $color-salmon;
    text-decoration: none;

    &:visited {
        color: darken($color-salmon, 15%);
    }

    &:hover {
        color: $color-darkgrey;
        text-decoration: underline;
    }
}





/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
