/*

    panels & variations

*/


// panel basics
.panel {

	&.brand {
		color: $color-darkgrey;
		a.button {
			background-color: $color-darkgrey;
			&:hover, &:focus {
				background-color: $color-darkgrey-hover;
			}
		}
	}

	&.dark {
		color: $color-tan-light;
		a.button {
			color: $color-darkgrey;
			background-color: $color-tan-light;
			&:hover, &:focus {
				background-color: $color-tan-light-hover;
			}
		}
	}

	&.light {
		color: $color-darkgrey;
		a.button {
			&:hover, &:focus {
				background-color: $color-salmon-hover;
			}
		}
	}

	&.silent {
		display: none;
		@include screen-medium {
			display: block;
		}
	}

}


// panel layouts
.panel-container {

	&.light {
		color: $color-darkgrey;
		background-color: $color-tan;
		background-image: $texture;
	}

	.fixed-contents {
		@extend %fixed-centered;
		display: flex;
		flex-wrap: wrap;
	}

	.panel {
		padding: 3rem 2rem;			
	}

	.full-width {
		width: 100%;
		text-align: center;
	}

	@include screen-medium {

		&.one-up {
			.panel {
				padding: 3rem 0;			
			}
		}

		&.two-up {

			.contents, .fixed-contents {
				display: flex;
			}

			.panel {
				flex: 1 1 50%;
				align-items: center;

				&:first-child {
					padding-left: 0;
					padding-right: 2rem;
				}
				&:last-child {
					padding-left: 2rem;
				}
			}

			@include screen-medium {

				.panel {
					position: relative;
					&:last-child {
						.button {
							left: 2rem;
						}
					}
					&.with-button {
						padding-bottom: 8rem;
					}
				}
				.button {
					position: absolute;
					left: 0;
					bottom: 3rem;
				}
			}

		}


		&.three-up {
			display: flex;

			.panel {
				flex: 1 1 33%;
				align-items: center;
			}

		}
	}
}



//
// specific panels
//


// home page: site intro 2-up
.page-home-2up {

	@extend %panel-two-up;

	.panel {
		&:first-child {
			background-image: 
				url(/images/2015/photos/cta-festival.min.jpg);
		}
		&:nth-child(2) {
			background-image: 
				url(/images/2015/photos/cta-location.min.jpg);
		}
	}

	@include screen-medium {
		background-color: $color-darkgrey;
		background-image: 
			url(/images/2015/photos/cta-about.min.jpg),
			url(/images/2015/photos/cta-location.min.jpg);

		.panel {
			&:first-child, &:nth-child(2) {
				background-image: none;
			}
		}
	}

}


// general details 2-up
.details-2up {

	@extend %panel-two-up;
	background-color: $color-tan;

	.panel {
		&:first-child {
			background-image: 
				url(/images/2015/photos/cta-tickets.min.jpg);
		}
		&:nth-child(2) {
			background-image: 
				url(/images/2015/photos/cta-festival.min.jpg);
		}
	}

	@include screen-medium {
		background-image: 
			url(/images/2015/photos/cta-tickets.min.jpg),
			url(/images/2015/photos/cta-about.min.jpg);
		.panel {
			&:first-child, &:nth-child(2) {
				background-image: none;
			}
		}
	}

}


// home page: about the festival
.festival-description {

	background-color: $color-tan;
	background-image: $texture;

	.panel {
		@extend %fixed-centered;
		padding: 3rem 2rem;
		text-align: center;

		p {
			text-align: left;
		}

		@include screen-medium {
			padding: 4rem 6rem;
		}
	}
}


// location page intro, photos & getting home
.location-intro-2up {

    @extend %panel-header;    
	color: $color-darkgrey;
	background-color: $color-tan;
	background-image: url(/images/2015/photos/header-location.min.jpg);
	background-position: top center;

}
.location-photos-3up {

	background-color: $color-darkgrey;
	background-image: 
		url(/images/2015/photos/location-image-left.min.jpg),
		url(/images/2015/photos/location-image-center.min.jpg),
		url(/images/2015/photos/location-image-right.min.jpg);

    background-position:
      0% top,
      50% top,
      100% top;
    background-repeat: 
      no-repeat,
      no-repeat,
      no-repeat;
    background-size: 
      33.4% 100%,
      33.4% 100%,
      33.4% 100%;

	min-height: 100px;

	@include screen-xsmall {
		min-height: 150px;
	}
	@include screen-medium {
		min-height: 200px;
	}
	@include screen-xxxlarge {
		min-height: 300px;
	}
}
.location-gettinghome-3up {

	padding-top: 3rem;
	color: $color-darkgrey;
	background-color: $color-tan;
	background-image: $texture;

}


// contact page intro & photos
.contact-intro-2up {
	color: $color-darkgrey;
	background-color: $color-tan;
	background-image: $texture;
}
.contact-photos-1up {

	@extend %panel-header;
	background-color: $color-darkgrey;
	background-image: url(/images/2015/photos/contact-footer.min.jpg);
	background-size: 110% auto;
	background-position: top center;

	@include screen-medium {
		min-height: 300px;
	}
}


// beer page intro & listing
.beer-intro-2up {

    @extend %panel-header;    
	color: $color-tan;
	background-color: $color-darkgrey;
	background-image: url(/images/2015/photos/header-beer.jpg);

}
.beer-listing-1up {

	padding-top: 2rem;
	padding-bottom: 2rem;
	color: $color-darkgrey;
	background-color: $color-tan;
	background-image: $texture;

}

// festival page intro, description & beer
.festival-intro-2up {

	@extend %panel-header;

	color: $color-darkgrey;
	background-color: $color-tan;
	background-image: url(/images/2015/photos/header-festival.min.jpg);
	background-position: bottom center;
	background-size: auto 100%;

	@include screen-large {
		padding-top: 3rem;
		padding-bottom: 3rem;
		background-size: 120% auto;
	}
}
.festival-description-2up {

	@extend %panel-header;
	padding: 3rem 2rem;
	color: $color-tan;
	background-image: url(/images/2015/photos/festival-content.min.jpg);

	.panel {
		padding: 0.5rem 0;
		@include screen-medium {
			padding: 3rem 0;
		}
		&:nth-child(2) {
			padding-right: 1rem;
		}
		&:nth-child(3) {
			padding-left: 1rem;
		}
	}

	.full-width {
		text-align: left;
		h3 {
			display: inline;
			font-size: 1rem;
			font-weight: bold;
		}
		p {
			display: inline;
		}
	}
}
.festival-beer-2up {

	background-color: $color-tan;
	background-image: $texture;

}


// FAQ
.faq-1up {
	color: $color-darkgrey;
	background-color: $color-tan;
	background-image: $texture;
}

// temp tickets page
.tickets-1up {
	padding: 4rem 0 3rem 0;

	color: $color-darkgrey;
	background-color: $color-tan;
	background-image: $texture;
}