
$base-font-family:      'Slabo 13px', georgia, serif;
$base-font-size:        16px;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.5;

$alt-font-family:       'Amatic SC', 'Arial Narrow', sans-serif;
$alt-font-size:         26px;
$alt-line-height:       1.5;

$spacing-unit:          1rem;

$color-darkgrey:           #2f3841;
$color-darkgrey-hover:     #333b45;

$color-white:  #fff;

$color-tan:     #d5beac;
$color-tan-light: #e3ceba;
$color-tan-light-hover: #e8d5c4;

$color-salmon:          #a26e6b;
$color-salmon-hover:    #a77571;

$grey-colour:           #828282;
$grey-colour-light:     lighten($grey-colour, 40%);
$grey-colour-dark:      darken($grey-colour, 25%);

$texture:               url(/images/2015/papertexture.min.png);








/*

    Base media query mixins

*/

$xxsmall: 320px;
$xsmall: 480px;
$small: 640px;
$medium: 800px;
$large: 960px;
$xlarge: 1120px;
$xxlarge: 1280px;
$xxxlarge: 1400px;

@mixin screen-xxxlarge {
  @media (min-width: #{$xxxlarge + 1px}) {
    @content;
  }
}
@mixin screen-xxlarge {
  @media (min-width: #{$xxlarge + 1px}) {
    @content;
  }
}
@mixin screen-xlarge {
  @media (min-width: #{$xlarge + 1px}) {
    @content;
  }
}
@mixin screen-large {
  @media (min-width: #{$large + 1px}) {
    @content;
  }
}

@mixin screen-medium {
  @media (min-width: #{$medium + 1px}) {
    @content;
  }
}
@mixin screen-small {
  @media (min-width: #{$small + 1px}) {
    @content;
  }
}
@mixin screen-xsmall {
  @media (min-width: #{$xsmall + 1px}) {
    @content;
  }
}
@mixin screen-xxsmall {
  @media (min-width: #{$xxsmall + 1px}) {
    @content;
  }
}


@mixin screen-max-small {
  @media (max-width: #{$small + 1px}) {
    @content;
  }
}



// silent class for clearfixing
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// silent class for setting upper boundaries
%set-screen-width {
  @include screen-large {
    width: 960px;
  }
  @include screen-xxxlarge {
    width: 1200px;
  }
}


// silent class to fix a centered width at larger screen sizes
%fixed-centered {

  width: 100%;

  @include screen-medium {
      padding: 0 2rem;
  }
  @include screen-large {
      width: 960px;
      margin: 0 auto;
  }
  @include screen-xxlarge {
    width: 1200px;
  }
}


// silent class mixin for header responsive images
%panel-header {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;

    @include screen-medium {
        background-size: auto 100%;
    }
}

// silent class mixin for two-up responsive images
%panel-two-up {
  .panel {
    &:first-child, &:last-child {
      background-position:
        center center;
      background-repeat: 
        no-repeat;
      background-size: 
        auto 100%;

      @include screen-small {
        background-size: 
          100% auto;        
      }
    }
  }  

  @include screen-medium {
    background-position:
      -400% top,
      400% top;
    background-size: 
      90% 100%,
      90% 100%;
    background-repeat: 
      no-repeat,
      no-repeat;

    .panel {
      background-color: transparent;
      &:first-child, &:last-child {
        background: none;
      }
    }
  }

  @include screen-xlarge {
    background-position:
      -42% top,
      142% top;
    background-size: 
      65% 100%,
      65% 100%;
  }

  @include screen-xxlarge {
    background-position:
      -10% top,
      110% top;
    background-size: 
      55% 110%,
      55% 110%;
  }

  @include screen-xxxlarge {
    background-position:
      -10% top,
      110% top;
    background-size: 
      55% auto,
      55% auto;
  }

}