/*

    2017
    Panels

*/


// 
//  base
//
.panel-container {

    .inner {
        @extend %fixed-centered;
        padding-top: $site-nav-height;
        padding-bottom: $site-nav-height;
    }

    .full-span {
        flex: 0 1 100%;
    }

    h2 {
        margin-bottom: 2rem;
        font-size: 3rem;
        text-align: center;
    }


    &.red {
        color: $color-tan;
        background: $color-red;
    }
    &.tan {
        background: #F7E1C6;
    }

    &.two-up .inner {
        @include screen-medium {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            .panel {
                flex: 1 1 50%;
                p {
                    padding-right: 2rem;
                }
                &:last-child {
                    p, h3 {
                        padding-left: 2rem;
                        padding-right: 0;
                    }
                }
            }
        }

    }


    &.four-up .inner {
        @include screen-medium {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            .panel {
                flex: 1 1 25%;
                p {
                    padding-right: 2rem;
                }
                &:last-child {
                    p, h3 {
                        padding-left: 2rem;
                        padding-right: 0;
                    }
                }
            }

        }
    }

}

.panel-photos {
    display: flex;
    div {
        background-color: #fff;
        background-size: cover;
        background-position: center center;
        flex: 1 1 33.33%;

        &:nth-child(1), &:nth-child(2) {
            border-right: solid 1px $color-tan;
        }


        height: 100px;
        @include screen-small {
            height: 200px;
        }
        @include screen-large {
            height: 300px;
        }
        @include screen-xxlarge {
            height: 400px;
        }
    }

    .photo1 {
        background-image: url(/images/2017/photo1.jpg);
    }
    .photo2 {
        background-image: url(/images/2017/photo2.jpg);
    }
    .photo3 {
        background-image: url(/images/2017/photo3.jpg);
    }
    .photo4 {
        background-image: url(/images/2017/photo4.jpg);
    }
    .photo5 {
        background-image: url(/images/2017/photo5.jpg);
    }
    .photo6 {
        background-image: url(/images/2017/photo6.jpg);
    }
}




//
// custom panels
//

.beers {
    .inner {
        margin: 0 auto;
        text-align: center;
        p {
            display: inline-block;
            max-width: $site-content-width / 2;
        }
    }
    .breweries {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        li {
            flex: 1 1 33%;
            margin: 1rem 0;
            list-style: none;
            text-align: center;
        }
        img {
            width: 80%;
            max-width: 100px;
        }

        @include screen-xxsmall {
            li {
                flex: 1 1 25%;
                margin: 1.5rem 0;
            }
        }
        @include screen-xsmall {
            li {
                flex: 1 1 20%;
                margin: 2rem 0;
            }
            img {
                width: 60%;
                max-width: 150px;
            }
        }
        @include screen-medium {
            li {
                flex: 1 1 12.5%;
            }
        }
    }
}

.mapbox iframe {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    @include screen-medium {
        height: 300px;
    }
}
.newsletter {
    text-align: center;
    input, button {
        padding: 4px 12px;
        border-radius: 4px;
        border: solid 2px $color-tan;
        font-family: $base-font-family;
        font-size: $base-font-size * 1.5;
    }
    input {
        color: $color-black;
        background-color: $color-tan;
    }
    button {
        color: $color-tan;
        background-color: $color-red;
        cursor: pointer;
        &:hover, &:focus {
            color: $color-red;
            background-color: $color-tan;
        }
    }
}
.info {
    h3 {
        margin-top: 1.5rem;
    }
}