<div class="panel-container two-up details-2up">

  <div class="fixed-contents">

    <div class="panel light">
      <h2>You Should Come To This Festival</h2>
      <p>Seriously, you should. Great location, great beer and great people. We might even roast a pig. How awesome is that?</p>
      <a href="#" class="button centered">Buy Tickets</a>
    </div>


    <div class="panel brand">
      <h2>It's at a Cool Place</h2>
      <p>UBC Farm is a gorgeous outdoor venue, with enough room to celebrate great beer without feeling crowded. It’s even easily accessible by transit.</p>
      <a href="/2015/location/" class="button centered">Where's the UBC Farm?</a>
    </div>

  </div>

</div>
