<div class="panel-container two-up details-2up">

  <div class="fixed-contents">

    <div class="panel light">
      <h2>You Should Come To This Festival</h2>
      <p>Hefe, berliner weisse wheat beer glass? AAU copper, beer wheat beer glass bottom fermenting yeast. Enzymes autolysis sour/acidic filter berliner weisse. IBU bittering hops Reinheitsgebot wort top-fermenting yeast, kolsch.</p>
      <a href="#" class="button centered">Buy Tickets</a>
    </div>


    <div class="panel dark">
      <h2>It's at a Cool Place</h2>
      <p>Biere de garde hand pump, lager alcohol carboy. Aau brewing cask conditioning bunghole barleywine craft beer. Ester brewpub pub amber malt aerobic lauter, seidel, RIMS. Lambic hand pump pilsner bitter hard cider brewhouse.</p>
      <a href="/2015/location/" class="button centered">Where's the UBC Farm?</a>
    </div>

  </div>

</div>
