<div class="panel-container two-up details-2up">

  <div class="fixed-contents">

    <div class="panel with-button light">
      <h2 class="styled">You Should Come To This Festival</h2>
      <p>With a beautiful venue, great breweries, and limited attendance, you don't want to miss the festival everyone will be talking about this summer.</p>
      <a href="{{ site.ticket_link }}" class="button centered">Buy Tickets</a>
    </div>


    <div class="panel with-button brand">
      <h2 class="styled">It's at a Cool Place</h2>
      <p>UBC Farm is a gorgeous outdoor venue, with enough room to celebrate great beer without feeling crowded. It’s even easily accessible by transit.</p>
      <a href="/2015/location/" class="button centered">Where's the UBC Farm?</a>
    </div>

  </div>

</div>
