{% assign displaySponsors = include.sponsors %}
<footer class="site-footer">

  <div class="wrapper">


    <div class="sponsors {{ include.sponsors }}">
      <h2 class="sponsor-title styled">Featuring Unique &amp; Limited Brews by Some of the Best Breweries</h2>
      <ul class="sponsor-list sponsors-small">
        {% for brewery in site.data.breweries.breweries %}
          <li class="sponsor">
            <a href="{{ brewery.url }}">
              <img src="{{ brewery.logo }}" alt="{{ brewery.name }}" />
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="site-footer-extras">
      <div class="wrapper">
        <p class="copyright">
          &copy;Copyright 2015, our company name
        </p>
        <div class="social-media-list">

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}">
              @{{ site.twitter_username }}
            </a>
          {% endif %}

          {% if site.facebook_username %}
            <a href="https://facebook.com/{{ site.facebook_username }}">
              Facebook
            </a>
          {% endif %}

          {% if site.instagram_username %}
            <a href="https://instagram.com/{{ site.instagram_username }}">
              Instagram
            </a>
          {% endif %}

        </div>
      </div>
    </div>

  </div>

</footer>
