<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-2">

        <ul class="social-media-list">

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              @{{ site.twitter_username }}
            </a>
          </li>
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              Instagram
            </a>
          </li>
          {% endif %}
        </ul>

        <ul class="sponsor-list sponsors-small">
          <li class="sponsor">
            <a href="#"><img src="/images/breweries/brassneck.svg" alt="Brassneck" /></a>
          </li>
          <li class="sponsor">
            <a href="#"><img src="/images/breweries/strange-fellows.png" alt="Strange Fellows" /></a>
          </li>
          <li class="sponsor">
            <a href="#"><img src="/images/breweries/four-winds.png" alt="Four Winds" /></a>
          </li>
          <li class="sponsor">
            <a href="#"><img src="/images/sponsors/tmp.png" alt="temp" /></a>
          </li>
          <li class="sponsor">
            <a href="#"><img src="/images/sponsors/tmp.png" alt="temp" /></a>
          </li>
          <li class="sponsor">
            <a href="#"><img src="/images/sponsors/tmp.png" alt="temp" /></a>
          </li>
          <li class="sponsor">
            <a href="#"><img src="/images/sponsors/tmp.png" alt="temp" /></a>
          </li>
          <li class="sponsor">
            <a href="#"><img src="/images/sponsors/tmp.png" alt="temp" /></a>
          </li>
        </ul>

      </div>

    </div>

  </div>

</footer>
