  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@farmhousefest">
  <meta name="twitter:url" property="og:url" content="http://farmhousefest.com/">
  <meta name="twitter:title" property="og:title" content="Farmhouse Saison and Wild Ale Festival">
  <meta name="twitter:description" property="og:description" content="Farmhouse Fest is a unique saison and wild ale festival. July 6th, 2019, Vancouver, BC">
  <meta name="twitter:image" property="og:image" content="http://farmhousefest.com/images/2018/poster.jpg">
