/*

    buttons & variations

*/


.button, a.button {

    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 4px;

    color: rgba($color-white, 0.9);
    background-color: rgba($color-salmon, 0.95);
    background-image: $texture;

    font-family: $alt-font-family;
    font-size: $alt-font-size;

    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover, &:focus {
        color: $color-white;
        background-color: $color-salmon;
        text-decoration: none;
    }

}