/*

    main footer layout

*/


.site-footer {

    padding: 0;

    .sponsor-title {
        text-align: center;
        margin-bottom: 2rem;
    }

    .sponsors {
        padding: 3rem 0;
        .hide {
            display: none;
        }
    }

}

.site-footer-extras {
    padding-top: 1rem;
    color: $background-colour;
    background-color: $text-colour;
    background-image: $texture;
    text-align: center;

    .wrapper {
        @extend %fixed-centered;
        @extend %clearfix;
    }

    .social-media-list {
        padding-bottom: 1rem;
        a {
            display: inline-block;
            margin: 0 1rem;
            color: $background-colour;
        }
    }

    @include screen-medium {
        .copyright {
            float: left;
        }
        .social-media-list {
            float: right;

            a {
                margin-left: 2rem;
            }
        }
    }

}