/*

    main footer layout

*/


.site-footer {

    padding: 3rem 0 0 0;

    .sponsor-title {
        text-align: center;
    }

    .sponsors.hide {
        display: none;
    }

}

.site-footer-extras {
    padding-top: 1rem;
    margin-top: 3rem;
    color: $text-colour-reversed;
    background: $background-colour;
    text-align: center;

    .wrapper {
        @extend %fixed-centered;
        @extend %clearfix;
    }

    .social-media-list {
        padding-bottom: 1rem;
        a {
            display: inline-block;
            margin: 0 1rem;
            color: $text-colour-reversed;
        }
    }

    @include screen-medium {
        .copyright {
            float: left;
        }
        .social-media-list {
            float: right;

            a {
                margin-left: 2rem;
            }
        }
    }

}