/*

    main header layout

*/


.site-header {

    // temp styling
    background-color: $background-colour;
    background-image: url(/images/photos/glass.min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    @include screen-medium {
        text-align: center;
    }

    .wrapper {
        padding: 1rem 0;
        margin: 0 0 0 1rem;

        @include screen-large {
            display: block;
            width: $full-width;
            padding: 1rem 0;
            margin: 0 auto;
        }
    }
}



.site-nav-wrapper {
    margin: 0;
}

.site-nav-item {
    margin: 0;
    list-style: none;
    text-transform: uppercase;
    white-space: nowrap;

    a {
        border-radius: 4px;
        color: rgba($text-colour-reversed, 0.8);

        &:hover, &:focus {
            text-decoration: none;
            color: $text-colour-reversed;
            background: rgba(255, 255, 255, 0.2);
        }
    }
}


.site-nav {    
    .menu-icon {
        display: none;
    }

    @media (max-width: $medium) {
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 68px;
            height: 58px;
            line-height: 0;
            padding: 0.5rem 1rem 0.5rem 0;
            text-align: right;

            > svg {
                width: 27px;
                height: auto;

                path {
                    fill: #fff;
                }
            }
        }

        .site-nav-wrapper {
            display: none;
            position: absolute;
            top: 74px;
            left: 0;
            width: 100%;
            padding: 1rem 0 0.25rem 0;
            margin: 0;
            clear: both;
            text-align: left;
            background: rgba($background-colour, 0.95);
        }

        &:hover .site-nav-wrapper, &:focus .site-nav-wrapper {
            display: block;
        }

        .site-nav-item {
            display: block;

            a {
                display: block;
                border-radius: 0;
                padding: 0.5rem 1rem;

                &:hover, &:focus {
                    text-decoration: none;
                    background: rgba(255, 255, 255, 0.05);
                }
            }
        }
    }

}


// arrange the nav elements to straddle the logo on larger screens
.nav-home, .nav-festival, .nav-beer {
    a {
        @include screen-medium {
            float: left;
            padding: 0.5rem 1rem;
        }
    }
}
.nav-location, .nav-contact, .nav-tickets {
    a {
        @include screen-medium {
            float: right;
            padding: 0.5rem 1rem;
        }
    }
}



// logo
.site-title {

    display: inline-block;
    color: $text-colour-reversed;

    img {
        width: 60px;
        opacity: 0.95;

        &:hover, &:focus {
            opacity: 1;
        }
    }
}


// gotta get them tickets
.nav-tickets {
    a {
        color: #fff;
        background: rgba($brand-colour, 0.4);

        &:hover, &:focus {
            background: rgba($brand-colour, 0.6);
        }
    }
}

