/*

    main header layout

*/


$site-nav-height: 47px;

.site-header {


    // temp styling
    background-color: $color-tan;

    @include screen-medium {
        text-align: center;
    }

    .wrapper {
        @extend %set-screen-width;

        padding: 1rem 0;
        margin: 0;

        @include screen-large {
            display: block;
            padding: 1rem 0;
            margin: 0 auto;
        }
    }
}



.site-nav-wrapper {
    margin: 0;
}

.site-nav-item {
    margin: 0;
    list-style: none;

    a {
        color: $color-darkgrey;

        font-family: $alt-font-family;
        font-size: $alt-font-size;
        text-transform: uppercase;
        white-space: nowrap;

        &:hover, &:focus {
            text-decoration: none;
            background: rgba(255, 255, 255, 0.2);
        }

        @include screen-medium {
            padding: 0.25rem 0.5rem;
        }

    }

    &.is-selected a {
        color: $color-salmon;        
    }

    @include screen-xxxlarge {
        padding-top: 0.75rem;
        a {
            padding: 0.5rem 0.75rem;
        }
    }

}


.site-nav {    

    .menu-icon {
        display: none;
    }


    &.is-active .site-nav-item {
        @media (max-width: $medium) {
            visibility: visible;

            &.nav-festival, &.nav-beer, &.nav-location, &.nav-contact, &.nav-faq, &.nav-tickets {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }


    @media (max-width: $medium) {

        .menu-icon {
            display: block;
            float: right;
            width: 68px;
            height: 58px;
            line-height: 0;
            padding: 0.25rem 1rem 0.5rem 0;
            text-align: right;

            > svg {
                width: 27px;
                height: auto;

                path {
                    fill: $color-darkgrey;
                }
            }
        }

        .site-nav-wrapper {
            display: none;
            position: absolute;
            top: 74px;
            left: 0;
            width: 100%;
            padding: 1rem 0 0.25rem 0;
            margin: 0;
            clear: both;
            text-align: left;
            background-color: rgba($color-tan, 0.95);
        }

        .site-nav-item {
            visibility: hidden;

            a {
                display: block;
                border-radius: 0;
                padding: 0.25rem 0.5rem;

                &:hover, &:focus {
                    text-decoration: none;
                    background: rgba(255, 255, 255, 0.05);
                }

            }
        }

        .nav-festival, .nav-beer, .nav-location, .nav-contact, .nav-faq, .nav-tickets {
            position: absolute;
            width: 100%;
            z-index: 100;
            transform: translate(0, -10px);
            transition: all ease-out 0.2s;
            opacity: 0;

            background: $color-salmon;

            a {
                color: $color-white;
                text-align: center;
            }
        }
        .nav-festival {
            top: 64px;
        }
        .nav-beer {
            top: 64px + $site-nav-height;
        }
        .nav-location {
            top: 64px + $site-nav-height * 2;
        }
        .nav-contact {
            top: 64px + $site-nav-height * 3;
        }
        .nav-faq {
            top: 64px + $site-nav-height * 4;
        }
        .nav-tickets {
            top: 64px + $site-nav-height * 5;
        }
    }


    @include screen-medium {

        // nav flexbox
        display: flex;
        flex-direction: row;
        justify-content: center;

        .site-nav-item {
            flex: 1 1 123px;
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(3) {
                order: 2;
            }
            &:nth-child(4) {
                order: 3;
            }

            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(6) {
                order: 6;
            }
            &:nth-child(7) {
                order: 7;
            }

            a {
                border-radius: 4px;
            }
        }
        .site-title {
            order: 4;
        }
        .site-title-large {
            flex: 0 1 220px;
            order: 4;
        }


    }

}



// logo
.site-title {

    display: inline-block;
    padding: 0 1rem;
    color: $color-white;

    img {
        width: 50px;
        opacity: 0.95;

        &:hover, &:focus {
            opacity: 1;
        }
    }

    @include screen-medium {
        padding: 0 3rem;
    }

    @include screen-xxlarge {
        img {
            width: 80px;
        }
    }

}


// gotta get them tickets
.nav-tickets {
    a {
        color: rgba(255, 255, 255, 0.8);
        background: $color-darkgrey;

        &:hover, &:focus {
            color: #fff;
            background-color: $color-darkgrey-hover;
        }

    }
    &.is-selected a {
        color: rgba(255, 255, 255, 0.8);
    }
}

