/*

    main header layout

*/


.site-header {
    padding: 1px 0;
    background: $brand-colour;

    @include screen-medium {
        text-align: center;
    }

    .wrapper {
        @include screen-xsmall {
            margin: 1rem 40px;
        }

        @include screen-large {
            display: block;
            width: $full-width;
            padding: 0.5rem 0;
            margin: 1rem auto;
        }
    }
}



.site-nav {

    .menu-icon {
        display: none;
    }

    @media (max-width: $medium) {
        position: absolute;
        top: 9px;
        right: 30px;

        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 44px;
            height: 44px;
            line-height: 0;
            padding-top: 1rem;
            text-align: center;

            > svg {
                width: 27px;
                height: auto;

                path {
                    fill: #fff;
                }
            }
        }

        .site-nav {
            clear: both;
            display: none;
            background: $brand-colour;
        }

        &:hover .site-nav, &:focus .site-nav {
            display: block;
        }

        .site-nav-wrapper {
            padding: 0.25rem 0;
            margin: 0;
            text-align: left;
        }
        .site-nav-item {
            padding: 0.25rem 1rem;
            list-style: none;
        }
    }


    @include screen-small {

        .site-nav-item {
            display: inline-block;
            margin: 0;
            list-style: none;

            a {
                color: $text-colour-reversed;
            }

        }

    }

}

.site-nav-wrapper {
    margin: 0;
}



.site-nav-item {
    margin: 0;
    white-space: nowrap;
}

.nav-home, .nav-festival, .nav-beer {
    float: left;
    padding: 0.5rem 2rem 0.5rem 0;
}
.nav-location, .nav-contact, .nav-tickets {
    float: right;
    padding: 0.5rem 0 0.5rem 2rem;
}



// logo
.site-title {

    display: inline-block;
    color: $text-colour-reversed;

    img {
        width: 60px;
    }
}


