/*

    Base responsive layout

*/

.page-heading {

    @include screen-medium {
        text-align: left;
    }
}
.page-content, .site-footer {
    width: 100%;

    .wrapper {
        margin: 0 20px;

        @include screen-xsmall {
            margin: 0 40px;
        }
        @include screen-xlarge {
            width: $full-width;
            margin: 0 auto;
        }
    }
}







// future partials



// sponsors
.sponsor-list {

}
.sponsors-small {
 
    @include screen-medium {
       display: flex;
 
        .sponsor {
            flex: 1 1 auto;

            margin: 0;
            list-style: none;

            img {
                width: 80px;
                max-height: 80px;
            }
        }
    }
}