/*

    Base responsive layout

*/


.page-header {
    @extend %fixed-centered;
    padding-top: 1rem;
    text-align: center;

    @include screen-medium {
        padding-top: 2rem;
        text-align: left;
    }
}
