/*

    Base responsive layout

*/

.page {
    @extend %fixed-centered;
}

.page-header {
    padding-top: 1rem;
    text-align: center;

    @include screen-medium {
        padding-top: 2rem;
        text-align: left;
    }
}


