/*

    Beer Page Layout

*/


.brewery-list {

    padding-top: 2rem;

    .brewery {
        padding-bottom: 2rem;
        list-style: none;
        text-align: center;
    }
    .logo {
        display: inline-block;
        width: 6rem;
        margin: 0 auto 1rem auto;
    }
    .details {
        text-align: left;
    }
    .tbd {
        color: $color-darkgrey-hover;
        color: rgba($color-darkgrey-hover, 0.6);
        font-style: italic;        
    }

    @include screen-xsmall {
        .brewery {
            position: relative;
            padding-left: 10rem;
        }
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
        }
    }
}

.beer-list {

    list-style: none;
    margin: 1rem 0 0 0;

    li {
        margin: 0 0 0.5rem 0;
    }
    h3 {
        margin: 0;
    }
    p {
        margin: 0;
        color: $color-salmon;
    }

}

.beer-listing-1up {
    .secondary {
        width: 100%;
        padding: 2rem 0;
    }
}