/*

    Home Page Variations

*/


.site-header.home {

    .site-title-large {
        display: none;
    }

    @include screen-medium {

        min-height: 400px;

        .site-title {
            display: none;
        }
        .site-title-large {
            display: inline-block;
            img {
                width: 140px;
            }
        }

    }

}


.page-content.home {

}