/*

    Festival Page Layout

*/


.brewery-logos {

    .brewery {
    	display: inline-block;
    	padding: 1rem;
        list-style: none;
    }
    .logo {
        width: 4rem;
    }

}

.festival-beer-2up .beer {
	text-align: center;
}