/*

    panels & variations

*/


// panel basics
.panel {

	&.brand {
		background: $brand-colour;
		a.button {
			background-color: $text-colour;
		}
	}

	&.dark {
		color: $background-colour-light;
		background-color: $text-colour;
		a.button {
			color: $text-colour;
			background-color: $background-colour-light;
		}
	}

	&.light {
		background-color: $background-colour;
	}

}


// panel layouts
.panel-container {

	.fixed-contents {
		@extend %fixed-centered;
	}

	.panel {
		padding: 3rem 2rem;			
	}

	@include screen-medium {

		&.one-up {
			.panel {
				padding: 3rem 0;			
			}
		}

		&.two-up {

			.contents, .fixed-contents {
				display: flex;
			}

			.panel {
				flex: 1 1 50%;
				align-items: center;

				&:first-child {
					padding-left: 0;
					padding-right: 2rem;
				}
				&:last-child {
					padding-left: 2rem;
				}
			}

			@include screen-medium {

				.panel {
					position: relative;
					padding: 3rem 2rem 8rem 2rem;
					&:last-child {
						.button {
							left: 2rem;
						}
					}
				}
				.button {
					position: absolute;
					left: 0;
					bottom: 3rem;
				}
			}

		}


		&.three-up {
			display: flex;

			.panel {
				flex: 1 1 33%;
				align-items: center;
			}

		}
	}
}


// specific panels

// home page: site intro 2-up
.page-home-2up {

	@extend %panel-two-up;

	.panel {
		&:first-child {
			background-image: 
				url(/images/photos/tmp/left.jpg);
		}
	}

	@include screen-medium {
		background-color: $text-colour;
		background-image: 
			url(/images/photos/tmp/left.jpg),
			url(/images/photos/tmp/right.jpg);
	}

}


// general details 2-up
.details-2up {

	@extend %panel-two-up;

	.panel {
		&:first-child {
			background-image: 
				url(/images/photos/tmp/left.jpg);
		}
	}

	@include screen-medium {
		background-color: $text-colour;
		background-image: 
			url(/images/photos/tmp/left.jpg),
			url(/images/photos/tmp/right.jpg);
	}

}


// home page: about the festival
.festival-description {

	background-color: $background-colour;
	background-image: $texture;

	.panel {
		@extend %fixed-centered;
		padding: 3rem 2rem;
		text-align: center;

		p {
			text-align: left;
		}

		@include screen-medium {
			padding: 4rem 6rem;
		}
	}
}




.panel.centered {
	text-align: center;
}
