/*

    panels & variations

*/


// panel basics
.panel {

	&.brand {
		background: $brand-colour;
		a.button {
			background-color: $text-colour;
		}
	}

	&.dark {
		color: $background-colour;
		background-color: $text-colour;
		a.button {
			color: $text-colour;
			background-color: $background-colour;
		}
	}

	&.light {
		background-color: $background-colour;
	}

}


// panel layouts
.panel-container {

	&.one-up {
		.panel {
			padding: 0 1rem;
		}
	}



	@include screen-medium {

		&.two-up {

			.contents {
				display: flex;
			}

			.panel {
				flex: 1 1 50%;
				align-items: center;

				&:first-child {
					padding-left: 0;
					padding-right: 2rem;
				}
				&:last-child {
					padding-left: 2rem;
				}
			}
		}


		&.three-up {
			display: flex;

			.panel {
				flex: 1 1 33%;
				align-items: center;
			}

		}
	}
}


// specific panels

// home page: site intro 2-up
.site-intro {

	.contents {
		@extend %fixed-centered;
	}

	.panel {
		padding: 3rem 2rem;
		align-items: center;
	}


	@include screen-medium {

		background-color: $text-colour;
		background-image: 
			url(/images/photos/tmp/left.jpg),
			url(/images/photos/tmp/right.jpg);
		background-position:
			-10% top,
			110% top;
		background-repeat: 
			no-repeat,
			no-repeat;
		background-size: 
			55% auto,
			55% auto;

		.panel {
			position: relative;
			padding: 3rem 2rem 8rem 2rem;
			background-color: transparent;
			&:last-child {
				.button {
					left: 2rem;
				}
			}
		}
		.button {
			position: absolute;
			left: 0;
			bottom: 3rem;
			width: 10rem;
		}
	}

}


// home page: about the festival
.festival-description {

	background-color: $background-colour;
	background-image: $texture;

	.panel {
		@extend %fixed-centered;
		padding: 3rem 2rem;
		text-align: center;

		p {
			text-align: left;
		}

		@include screen-medium {
			padding: 4rem 6rem;
		}
	}
}


// beer page extra info
.beerpage {
	.panel {

		padding: 2rem;
		text-align: center;

		&:first-child {
			background: $background-colour-light;
		}

		@include screen-medium {
			h2, p {
				text-align: left;
			}
		}
	}
}



.panel.centered {
	text-align: center;
}
