/*

    sponsor styling

*/


.sponsor-list {

}
.sponsors-small {

    @extend %set-screen-width;
    margin: 0 auto;
    text-align: center;

    .sponsor {
        display: inline-block;
        list-style: none;

        img {
            display: inline-block;
            width: 60px;
            max-height: 60px;
            margin: 0 1rem 1rem 1rem;
        }
    }


}