
$base-font-family:      'Slabo 13px', georgia, serif;
$base-font-size:        16px;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.5;

$alt-font-family:       'Amatic SC', 'Arial Narrow', sans-serif;
$alt-font-size:         26px;
$alt-line-height:       1.5;

$spacing-unit:          1rem;

$color-darkgrey:           #373c40;
$color-white:  #fff;

$color-tan:     #d3beaa;
$color-tan-light: #e3ceba;

$color-salmon:          #a26e6b;

$grey-colour:           #828282;
$grey-colour-light:     lighten($grey-colour, 40%);
$grey-colour-dark:      darken($grey-colour, 25%);

$texture:               url(/images/papertexture.min.png);


// Width of the content area on desktop
$full-width:    960px;







/*

    Base media query mixins

*/

$xxsmall: 320px;
$xsmall: 480px;
$small: 640px;
$medium: 800px;
$large: 960px;
$xlarge: 1120px;
$xxlarge: 1280px;

@mixin screen-xxlarge {
  @media (min-width: #{$xxlarge + 1px}) {
    @content;
  }
}
@mixin screen-xlarge {
  @media (min-width: #{$xlarge + 1px}) {
    @content;
  }
}
@mixin screen-large {
  @media (min-width: #{$large + 1px}) {
    @content;
  }
}

@mixin screen-medium {
  @media (min-width: #{$medium + 1px}) {
    @content;
  }
}
@mixin screen-small {
  @media (min-width: #{$small + 1px}) {
    @content;
  }
}
@mixin screen-xsmall {
  @media (min-width: #{$xsmall + 1px}) {
    @content;
  }
}
@mixin screen-xxsmall {
  @media (min-width: #{$xxsmall + 1px}) {
    @content;
  }
}


// silent class to fix a centered width at larger screen sizes
%fixed-centered {

  width: 100%;

  @include screen-medium {
      margin: 0 2rem;
  }
  @include screen-large {
      width: $full-width;
      margin: 0 auto;
  }

}

// silent class for clearfixing
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// silent class mixin for two-up responsive images
%panel-two-up {
  .panel {
    &:first-child, &:last-child {
      background-position:
        center center;
      background-repeat: 
        no-repeat;
      background-size: 
        110% auto;
    }
  }  

  @include screen-medium {

    background-position:
      -10% top,
      110% top;
    background-repeat: 
      no-repeat,
      no-repeat;
    background-size: 
      55% auto,
      55% auto;

    .panel {
      background-color: transparent;
      &:first-child, &:last-child {
        background: none;
      }
    }
  }

}