/*

    2018
    Footer

*/


.site-footer {

    padding-top: 3rem;
    padding-bottom: 3rem;


    color: $color-black;
    font-family: $alt-font-family;
    line-height: $alt-line-height;
    text-transform: $alt-text-transform;
    font-weight: 300;
    text-transform: uppercase;

    .inner {
        @extend %fixed-centered;
        justify-content: space-between;
        margin: 0 auto;

        @include screen-large {
            display: flex;
        }
    }
    ul {
        margin: 0 0 1rem 0;
        text-align: center;
        @include screen-large {
            margin: 0;
        }
    }
    li {
        display: inline-block;
        margin: 0 0 0 1rem;
        list-style: none;
    }
    p {
        text-align: center;
        @include screen-large {
            text-align: left;
            flex: 0 1 75%;
        }
    }

}

.social-media-list {
    @include screen-large {
        flex: 0 1 25%;
    }
    svg {
        width: 20px;
        height: 20px;
        g, path {
            color: $color-black;
        }
    }
}