/*

    2018
    Header

*/


// 
//  header bar: logo & nav
//

.fhf-header {
    position: fixed;
    z-index: 100;

    width: 100%;
    padding: 1rem 0;
    background: $color-orange;

    outline: 2px solid $color-black;
    outline-offset: 2px;
}

//
// sticky header, kinda-sorta
//
.fhf-header {
  top: 0;
  width: 100%;
  opacity: 1;
  transition: 
      top 0.5s ease-out,
      opacity 0.5s ease-out;
  @include screen-medium {
    position: absolute;
  }
}
.header-scripted {
  @include screen-medium {
    position: fixed;
    left: 0;
  }
}
.header-opaque {
  
}
.header-hidden {
  top: -$spacing-unit * 2;
  opacity: 0;
}




.fhf-nav {
    margin: 0 auto;
    ul {
        margin: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        margin: 0;
        list-style: none;

        &::after {
            content: "\2022";
            display: inline-block;
            padding: 0 1rem;
        }
        &:last-child::after {
            content: none;
        }

    }
    a {
        @extend %site-header-main;
        font-size: 1.5rem;
        line-height: 1;
        color: $color-black;
        text-transform: $alt-text-transform;
        
        @include screen-max-small {
            display: none;
        }
    }
}


// 
//  logo & intro photo
//
.fhf-intro {
    position: relative;
    background-size: cover;
    background-image: url(/images/2018/tmp/header.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;

    .inner {
        min-height: 40vh;
        padding: 0;
        margin-top: 3.15rem;
        @include screen-medium {
            min-height: 60vh;
        }
    }

    .title {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .extra {
        div {
            display: inline-block;
            @extend %site-header-main;
            &::after {
                content: "\2022";
                display: inline-block;
                padding: 0 1rem;
            }
            &:last-child::after {
                content: none;
            }
        }
    }

}