/*

    2018
    Header

*/


// 
//  header bar: logo & nav
//

.fhf-header {
    position: fixed;
    z-index: 100;

    width: 100%;
    padding: 1rem 0;
    background: $color-orange;

    outline: 2px solid $color-black;
    outline-offset: 2px;
}

//
// sticky header, kinda-sorta
//
.fhf-header {
  top: 0;
  width: 100%;
  opacity: 1;
  transition: 
      top 0.5s ease-out,
      opacity 0.5s ease-out;
  @include screen-medium {
    position: absolute;
  }
}
.header-scripted {
  @include screen-medium {
    position: fixed;
    left: 0;
  }
}
.header-opaque {
  
}
.header-hidden {
  top: -$spacing-unit * 1.25;
  opacity: 0;
}




.fhf-nav {
    margin: 0 auto;
    ul {
        margin: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        margin: 0;
        list-style: none;

        &::after {
            content: "\2022";
            display: inline-block;
            padding: 0 1rem;
        }
        &:last-child::after {
            content: none;
        }

    }
    a {
        @extend %site-header-main;
        font-size: 1.5rem;
        line-height: 1;
        color: $color-black;
        text-transform: $alt-text-transform;
        
        @include screen-max-small {
            display: none;
        }
    }
}


// 
//  logo & intro photo
//
.fhf-intro {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-size: cover, cover;
    background-position: center, center;

    .inner {
        padding: 0;
    }

    h1 {
        font-size: 4rem;
    }

    .details {
        z-index: 5;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 4rem 3rem 0.25rem 0;

        p {
            @extend %site-header-main;
            font-size: 1rem;
            line-height: 1.5rem;
            white-space: nowrap;
            @include screen-max-small {
                font-size: 1rem;
            }
        }
    }


    .description {
        padding-top: 30vh;
    }

}