/*

    2018
    Header

*/


// 
//  header bar: logo & nav
//

.fhf-header {
    position: fixed;
    z-index: 100;

    width: 100%;
    padding: 1rem 0;
    background: $color-orange;

    outline: 2px solid $color-black;
    outline-offset: 2px;
}

//
// sticky header, kinda-sorta
//
.fhf-header {
  top: 0;
  width: 100%;
  opacity: 1;
  transition: 
      top 0.5s ease-out,
      opacity 0.5s ease-out;
  @include screen-medium {
    position: absolute;
  }
}
.header-scripted {
  @include screen-medium {
    position: fixed;
    left: 0;
  }
}
.header-opaque {
  
}
.header-hidden {
  top: -$spacing-unit * 2;
  opacity: 0;
}




.fhf-nav {
    margin: 0 auto;
    ul {
        margin: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        margin: 0;
        list-style: none;

        &::after {
            content: "\2022";
            display: inline-block;
            padding: 0 1rem;
        }
        &:last-child::after {
            content: none;
        }

    }
    a {
        @extend %site-header-main;
        font-size: 1.5rem;
        line-height: 1;
        color: $color-black;
        text-transform: $alt-text-transform;
        
        @include screen-max-small {
            display: none;
        }
    }
}


// 
//  logo & intro photo
//
.fhf-intro {
    display: flex;
    max-height: 350px;
    margin-top: 3.15rem;
    @include screen-medium {
        max-height: 700px;
    }

    .before, .after {
        flex: 1 1 auto;
        background-image: url(/images/2018/site/bg-repeat@2x.png);
        background-repeat: repeat-x;
        background-size: auto 100%;
    }
    .before {
        background-position: top right;
    }
    .inner {
        background-color: $color-tan;
        flex: 0 0 100%;
        @include screen-large {
            flex: 0 0 960px;
        }
        @include screen-xxlarge {
            flex: 0 0 1200px;
        }
    }
    .after {
        background-position: top left;
    }

    .title {
        position: relative;
        .anim {
            position: absolute;
            left: 50%;
            top: 14%;
            width: 50px;
            height: 50px;
            margin-left: -25px;

            @include screen-xsmall {
                width: 70px;
                height: 70px;
                margin-left: -35px;
            }

            @include screen-small {
                width: 90px;
                height: 90px;
                margin-left: -45px;
            }

            @include screen-medium {
                width: 120px;
                height: 120px;
                margin-left: -60px;
            }

            @include screen-xlarge {
                top: 100px;
                width: 150px;
                height: 150px;
                margin-left: -75px;
            }
            @include screen-xxlarge {
                top: 130px;
                width: 170px;
                height: 170px;
                margin-left: -85px;
            }
        }
        .extra {
            position: relative;
            text-align: center;
            div {
                display: inline-block;
                @extend %site-header-main;
                font-size: 1.5rem;
                &::after {
                    content: "\2022";
                    display: inline-block;
                    padding: 0 0.5rem;
                }
                &:last-child::after {
                    content: none;
                }
            }

            bottom: 115px;
            @include screen-xxsmall {
                bottom: 150px;
            }
            @include screen-small {
                bottom: 195px;
            }
            @include screen-medium {
                bottom: 255px;
            }
            @include screen-large {
                bottom: 275px;
            }
            @include screen-xxlarge {
                bottom: 340px;
            }
        }
    }



}