/*

    2018
    Panels

*/


// 
//  base
//
.panel-container {

    .inner {
        @extend %fixed-centered;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .full-span {
        flex: 0 1 100%;
    }

    &.two-up .inner {
        @include screen-medium {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            .panel {
                flex: 1 1 50%;
                p {
                    padding-right: 2rem;
                }
                &:last-child {
                    p, h3 {
                        padding-left: 2rem;
                        padding-right: 0;
                    }
                }
            }
        }

    }


    &.four-up .inner {
        @include screen-medium {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            .panel {
                flex: 1 1 25%;
                p {
                    padding-right: 2rem;
                }
                &:last-child {
                    p, h3 {
                        padding-left: 2rem;
                        padding-right: 0;
                    }
                }
            }

        }
    }

}


//
// custom panels
//

.photo-gallery {
    @media (max-width: $xsmall) {
        .inner {
            padding-left: 0;
            padding-right: 0;
        }
        .fotorama__arr {
            display: none !important;
        }
    }
}

.fotorama__stage__frame {
    @include screen-medium {
        border: solid 4px $color-black;
        border-radius: 4px;
    }
}
.fotorama__nav-wrap .fotorama__thumb-border {
    border-color: $color-black;
    border-size: 4px;
    border-radius: 3px;
}


.photo-gallery {
    margin-top: -5rem;
    @include screen-xsmall {
        margin-top: -2rem;
    }
    @include screen-small {
        margin-top: 2rem;
    }
    @include screen-medium {
        margin-top: -8rem;
    }
    @include screen-large {
        margin-top: -10rem;
    }
    @include screen-xxlarge {
        margin-top: -2rem;
    }
}


.beer-list {
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;

    h2:before {
        display: block;
        content: "";
        width: 150px;
        height: 100px;
        margin: 0 auto 2rem auto;
        background-image: url(/images/2018/site/beers-graphic@2x.png);
        background-size: cover;
    }
    .intro {
        @include screen-small {
            padding: 0 4rem;
        }
        @include screen-medium {
            padding: 0 10rem;
        }
        @include screen-xxlarge {
            padding: 0 20rem;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin: 2rem 0 0 0;
    }
    li {
        list-style: none;
        padding: 1rem 3rem;
        margin: 0;
    }


    @include screen-xxsmall {
        li {
            flex: 50% 0 0;
            padding: 1rem 2rem;
            margin: 0 0 0.5rem 0;
        }
    }
    @include screen-xsmall {
        li {
            flex: 33% 0 0;
            padding: 1.5rem 3rem;
        }
    }
    @include screen-medium {
        li {
            flex: 25% 0 0;
        }
    }
    @include screen-xxlarge {
            li {
            flex: 16.5% 0 0;
            padding: 1.5rem;
        }
    }


}


.location-details {
    z-index: 1;
    padding-top: $spacing-unit * 2;
    background: $color-red;

    &::before, &::after {
        z-index: 1;
        display: block;
        content: "";
        position: relative;
        width: 100%;
        height: 4px;
        background: url(/images/2018/site/border.png);
        background-repeat: repeat-x;
    }

    &::before {
        top: -39px;
    }
    &::after {
        top: -4px;
    }
}

.map-container {
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 1rem 0;

    padding: 2px;
    border: 4px solid $color-black;
    border-radius: 4px;

    background: $color-tan;

    height: 200px;
    @include screen-medium {
        height: 300px;
        margin-bottom: -120px;
    }

    iframe {
        width: 100%;
        height: 188px;
        margin-bottom: -100px;
        @include screen-medium {
            height: 288px;
        }
    }

}

.location-extras {
    margin-top: $spacing-unit * 4;
    margin-bottom: $spacing-unit * 2;
    @include screen-medium {
        margin-top: $spacing-unit * 6;
    }
}


.newsletter {
    padding-top: 2rem;
    padding-bottom: 2rem;

    background: $color-orange;
    outline: 2px solid $color-black;
    outline-offset: 2px;
    text-align: center;
    input, button {
        @extend %site-header-main;
        padding: 4px 12px;
        border: solid 2px $color-black;
        border-radius: 2px;
    }
    button {
        color: $color-white;
        background: $color-red;
        cursor: pointer;
    }
    input {
    }
}
